meta(charset='utf-8')
meta(content='IE=edge', http-equiv='X-UA-Compatible')
meta(name='renderer' content='webkit')
meta(name='keywords' content='iro')
meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
base(target='_blank')
title= pageTitle ? pageTitle + ' - iro | colorful - 自由的匿名社区' : 'iro | colorful - 自由的匿名社区'
link(rel='icon', type='image/x-icon', href='http://kuro-iro.b0.upaiyun.com/images/favicon.ico')