#post_list.card
  each post in posts
    .post
      a.title(href='/p'+post._id, target='_self')
        span.text= post.title
      span.comments-count= post.commentsCount
  .panel
    span.page-label= currentPage + '/' + pages
    if currentPage > 1
      a.btn-page.btn-pre-page(href='/l/' + (currentPage - 1), target='_self') 上一页
    if currentPage < pages
      a.btn-page.btn-next-page(href='/l/' + (currentPage + 1), target='_self') 下一页