doctype html
html
  head
    include ./partials/head
    link(rel='stylesheet', href='/static/stylesheets/dist/core.css')
    block head

  body
    include ./partials/browser_too_old.jade
    header#header
      .container
        h1: a(href='/', target='_self', title='iro | colorful')
        nav#nav
          ul
            li: a(href='/l', target='_self') 列表
            li: a(href='/about', target='_self') 关于
            li: a(href='/logout', target='_self') 退出

    #main
      block main

    footer#footer

    script(src='/static/components/require/require.js')
    script(src='/static/scripts/dist/config.js')
    block scripts
