extends ./_layout.jade

block main
  article.article.card
    .body
      h2 关于 iro | colorful
      .content
        h3 简介
        p 　　iro | colorful 简称 iro，iro 在日语中有「色彩」和「各种各样」的含义，之所以起这个名字是希望社区聚集互联网上好玩有趣的内容，以及包容各种各样的人。
        p 　　iro 是开源的，源代码托管于
          a(href='https://github.com/duduru/iro', target='_blank')  Github 
          | ，欢迎贡献代码。