extends ./_layout.jade

block main
  article.article.card
    h2 关于 iro | colorful
    .content
      h3 简介
      p 　　iro 是
        a(href='http://kuro.iro.im/', target='_blank')  Kuro 
        | 退学后于2015年2月7日创建的匿名社区，简称 iro，全称 iro | colorful。iro 在日语中有「色彩」和「各种各样」的含义，之所以起这个名字是希望社区聚集互联网上好玩有趣的内容，以及包容各种各样的人。秉承自由开放的理念，这里没有账号体系，也没有身份地位，只有精彩的内容和人人参与的热情。
      p 　　iro 是开源的，源代码托管于
        a(href='https://github.com/duduru/iro', target='_blank')  Github 
        | ，欢迎贡献代码。
      h3 规则
      p 　　首页显示近期最受欢迎的帖子，每篇帖子正文下方都有「喜欢」和「不喜欢」这两个按钮，如果遇到精彩的帖子就点两下「喜欢」按钮吧，被喜欢越多的帖子就会排在越前面哦。
      h3 未来
      p 　　iro 的未来由这里的成员来决定，所以起初只实现了基本功能，之后再依据成员们的喜好和习惯来让 iro 不断进化。如果你有好的建议请给我发邮件，我的邮箱地址是 413298956@qq.com。