extends ./_layout.jade

block main
  include ./partials/post-list.jade
  #new_post_form_wrapper.card.editor
    h2 发布新内容
    form(action='/p/create', method='post', target='_self')
      input(type='text', name='title', placeholder='标题', class='textbox', required='required')
      .textarea.content(
        contenteditable='true',
        v-class='focused: focused',
        v-on='input: sync')
      textarea(name='content', v-model='content', required='required', style="display: none;")
      input(type='submit', value='发布', class='btn')

block scripts
  script.
    require(['./index']);
