doctype html
html
  head
  - var pageTitle = '登录';
  include ./partials/head.jade
  link(rel='stylesheet', href='/static/stylesheets/dist/login.css')

  body
    include ./partials/browser_too_old.jade
    #container
      form(action='/login', method='post', target='_self')
        input(type='text', class='textbox', name='nickname', placeholder='name', required='required')

  script.
    var textboxName = document.querySelector('.textbox[name=nickname]');
    textboxName.focus();
