@import "compass/css3";

.editor {
  padding: 1rem;
  margin-top: 1rem;
  position: relative;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  .textbox, .textarea, .btn {
    @include box-sizing(border-box);
  }

  .textbox, .textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .btn {
    margin-right: .6rem;
  }

  .textarea {
    resize: vertical;
    min-height: 9em;
    position: relative;
  }

  .info {
    position: absolute;
    display: inline-block;
    bottom: 1rem;
    right: 1rem;
  }
}
