@import "compass/css3";

input, textarea, button, [contenteditable=true] {
  outline: none;
  font: inherit;
  color: inherit;
  &::-moz-focus-inner {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
}

.textbox, .textarea {
  border: .1rem solid #ddd;
  border-radius: .3rem;
  @include box-shadow(inset 0 .1rem .4rem #ddd);
}

.textbox {
  height: 2.2em;
  padding: 0 .5rem;
}

.textarea {
  padding: .5rem;
}