@import "compass/css3";

#post_list {
  .post {
    position: relative;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    .title {
      padding: 1rem;
      display: block;

      .text {
        margin-right: 2rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
      }
      &:visited > .text {
        color: #666;
      }
    }
    .comments-count {
      position: absolute;
      right: 1rem;
      top: 0;
      bottom: 0;
      height: 1em;
      margin: auto 0;
      font-size: .9rem;
      color: #aaa;
    }
  }
  .panel {
    height: 3rem;
    position: relative;
    .btn-more, .btn-page, .page-label {
      line-height: 3rem;
      height: 3rem;
      padding: 0 1rem;
      display: block;
      position: absolute;
      top: 0;
      text-align: center;
    }
    .btn-more {
      left: 0;
      right: 0;
    }
    .btn-pre-page {
      left: 0;
    }
    .btn-next-page {
      right: 0;
    }
    .page-label {
      left: 0;
      right: 0;
      margin: 0 auto;
      color: #666;
    }
  }
}