@import "compass/css3";

#post_list {
  .post {
    border-bottom: .1rem solid #eee;
    .title {
      padding: 1rem;
      display: block;

      .text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
      }
      &:visited > .text {
        color: #666;
      }
    }
  }
  .panel {
    height: 3rem;
    position: relative;
    .btn-more, .btn-page, .page-label {
      line-height: 3rem;
      height: 3rem;
      padding: 0 1rem;
      display: block;
      position: absolute;
      top: 0;
      text-align: center;
    }
    .btn-more {
      right: 0;
    }
    .btn-pre-page {
      left: 0;
    }
    .btn-next-page {
      right: 0;
    }
    .page-label {
      left: 0;
      right: 0;
      margin: 0 auto;
      color: #666;
    }
  }
}