@import "compass/reset";
@import "compass/css3";
@import "./common.scss";

html {
  font-size: 16px;
}

body {
  font-family: $font-stack;
  color: #333;
  background-color: #efefef;
}

a {
  text-decoration: none;
  color: #258fb8;
  outline: none;
}
img {
  vertical-align: bottom;
}

input, textarea, button, [contenteditable=true] {
  outline: none;
  font: inherit;
  color: inherit;
  &::-moz-focus-inner {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
}

.textbox, .textarea {
  border: .1rem solid #ddd;
  border-radius: .3rem;
  @include box-shadow(inset 0 .1rem .4rem #ddd);
}

.textbox {
  height: 2.2em;
  line-height: 2.2em;
  padding: 0 .5rem;
}

.textarea {
  padding: .5rem;
}

.article {
  padding: .3rem 1rem 1rem 1rem;
  overflow: hidden;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 1.2em 0;
  }

  h3 {
    text-align: center;
    font-size: 1.25rem;
    margin: 1em 0;
  }
}

.content {
  line-height: 1.5em;

  p {
    margin: .6em 0;
  }

  img {
    display: block;
    margin: auto;
    max-width: 100% !important;
    height: auto !important;
  }
}

.btn {
  cursor: pointer;
  border: .1rem #59c solid;
  color: #59c;
  background-color: white;
  height: 2.3em;
  padding: 0 1.2em;
  border-radius: .3rem;
  @include transition(all .2s);

  &:hover, &:active {
    background-color: #59c;
    color: white;
  }

  &:active {
    @include box-shadow(inset 0 .15rem .5rem #369);
  }

  &[disabled] {
    pointer-events: none;
  }
}

.link-btn {
  cursor: pointer;
  @include user-select(none);
}

#browser_too_old {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: white;
  line-height: 1.71em;
  font-size: 30px;

  .container {
    position: absolute;
    width: 28em;
    left: 50%;
    top: 50%;
    margin-left: -14em;
    margin-top: -6em;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  a {
    cursor: pointer;
  }
}

$width: 50rem;

#header {
  $height: 3rem;

  position: relative;
  box-shadow: $box-shadow;
  background-color: white;

  .container {
    height: $height;
    max-width: $width;
    margin: 0 auto;
    position: relative;

    h1 {
      position: absolute;
      left: 0;
      top: 0;
      a {
        display: block;
        width: 72px;
        height: $height;
        font-size: 3rem;
        color: black;
        font-family: Italiana, $font-stack;
        background-image: url(http://kuro-iro.b0.upaiyun.com/images/icon-72.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    } 
  }

  #nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 10rem;
    height: $height;
    line-height: $height;
    text-align: right;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 0 1.2rem;
      }
    }
  }
}

#main {
  max-width: $width;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
}

.card {
  border-radius: .3rem;
  background-color: white;
  box-shadow: $box-shadow;
}

@media screen and (max-width: 500px) {
  body {
    background-color: white;
  }

  #main {
    padding-left: 0;
    padding-right: 0;

    .card {
      border-radius: 0;
    }
  }
}

@import "./partials/post-list.scss";

@import "./partials/editor.scss";

#footer {
  height: 6rem;
}

@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local('Italiana'), local('Italiana-Regular'),
  url(http://kuro-iro.b0.upaiyun.com/images/fonts/Italiana.woff2) format('woff2'),
  url(http://kuro-iro.b0.upaiyun.com/images/fonts/Italiana.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}