@import "compass/css3";
@import "./common.scss";

@import "./partials/reset.scss";

body {
  background-color: #efefef;
}

@import "./partials/input.scss";

.article {
  .info {
    border-bottom: .1rem solid #eee;
    padding: .3rem;
    .label {
      font-size: .9rem;
      color: #aaa;
      margin-right: 1em;
    }
  }

  .body {
    padding: 1rem;
    overflow: hidden;
    h2 {
      text-align: center;
      font-size: 1.5rem;
      margin: 1.2em 0;
    }

    h3 {
      text-align: center;
      font-size: 1.25rem;
      margin: 1em 0;
    }  
  }
}

.content {
  line-height: 1.5em;

  p {
    margin: .6em 0;
  }

  img {
    display: block;
    margin: auto;
    max-width: 100% !important;
    height: auto !important;
  }
}

.btn {
  cursor: pointer;
  border: .1rem #59c solid;
  color: #59c;
  background-color: white;
  height: 2.3em;
  padding: 0 1.2em;
  border-radius: .3rem;
  @include transition(all .2s);

  &:hover, &:active {
    background-color: #59c;
    color: white;
  }

  &:active {
    @include box-shadow(inset 0 .15rem .5rem #369);
  }

  &[disabled] {
    pointer-events: none;
  }
}

.link-btn {
  cursor: pointer;
  @include user-select(none);
}

#browser_too_old {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: white;
  line-height: 1.71em;
  font-size: 30px;

  .container {
    position: absolute;
    width: 28em;
    left: 50%;
    top: 50%;
    margin-left: -14em;
    margin-top: -6em;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  a {
    cursor: pointer;
  }
}

$width: 50rem;

#header {
  $height: 3rem;

  position: relative;
  box-shadow: $box-shadow;
  background-color: white;

  .container {
    height: $height;
    max-width: $width;
    margin: 0 auto;
    position: relative;

    h1 {
      position: absolute;
      left: 0;
      top: 0;
      a {
        display: block;
        width: 4.5rem;
        height: $height;
        font-size: 3rem;
        color: black;
        font-family: Italiana, $font-stack;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODciIGhlaWdodD0iMjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHJlY3QgeD0iMCIgeT0iMCIgcng9IjQiIHJ5PSI0IiB3aWR0aD0iMjciIGhlaWdodD0iMjciIHN0eWxlPSJmaWxsOiByZ2IoMjU1LDk1LDk1KTsgc3Ryb2tlLXdpZHRoOiAxOyIgLz4KICA8cmVjdCB4PSIzMCIgeT0iMCIgcng9IjQiIHJ5PSI0IiB3aWR0aD0iMjciIGhlaWdodD0iMjciIHN0eWxlPSJmaWxsOiByZ2IoMTY4LDIxMSwzNik7IHN0cm9rZS13aWR0aDogMTsiIC8+CiAgPHJlY3QgeD0iNjAiIHk9IjAiIHJ4PSI0IiByeT0iNCIgd2lkdGg9IjI3IiBoZWlnaHQ9IjI3IiBzdHlsZT0iZmlsbDogcmdiKDgwLDE5MiwyMzMpOyBzdHJva2Utd2lkdGg6IDE7IiAvPgo8L3N2Zz4=);
        background-repeat: no-repeat;
        background-size: 3rem;
        background-position: center center;
      }
    } 
  }

  #nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 14rem;
    height: $height;
    line-height: $height;
    text-align: right;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 0 1.2rem;
      }
    }
  }
}

#main {
  max-width: $width;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
}

.card {
  border-radius: .3rem;
  background-color: white;
  box-shadow: $box-shadow;
}

@media screen and (max-width: 500px) {
  body {
    background-color: white;
  }

  #main {
    padding-left: 0;
    padding-right: 0;

    .card {
      border-radius: 0;
    }
  }
}

#footer {
  height: 6rem;
}

@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local('Italiana'), local('Italiana-Regular'),
  url(http://kuro-iro.b0.upaiyun.com/images/fonts/Italiana.woff2) format('woff2'),
  url(http://kuro-iro.b0.upaiyun.com/images/fonts/Italiana.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}