@import "compass/css3";
@import "./common.scss";

@import "./partials/editor.scss";
@import "./partials/pager.scss";
@import "./partials/comments.scss";


#new_post_form_wrapper {
  margin-bottom: 1rem;
}

#post_list {
  .post {
    margin-bottom: 1rem;
    .article {
      .body {
        padding: 0 1rem;
        h2 {
          font-size: 1.3rem;
          text-align: left;
          margin: .8em 0;
          .title {
            margin: 0;
          }
        }    
      }
      img {
        margin: 0;
      }
    }
    .comment-area {
      min-height: 1rem;
    }
  }
  .panel {
    position: relative;
    background-color: white;
    text-align: center;
    height: 3rem;
    .btn-more {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 3rem;
      line-height: 3rem;
    }
  }
}