@import "compass/css3";
@import "./common.scss";

.comment-content {
  line-height: 1.2em;

  p {
    margin: 1.2rem 0;
  }

  img {
    max-width: 100% !important;
    max-height: 10em !important;
  }
}

@import "./partials/editor.scss";

@import "./partials/pager.scss";

.comment-area-loading {
  margin-top: 1rem;
  padding: 1rem;
}

#comments_wrapper {
  margin-top: 1rem;
  overflow: hidden;

  .editor {
    padding-top: 0;
    .textarea {
      min-height: 6em;
    }
    .btn {
      height: 2em;
      font-size: .9rem;
    }
  }

  .title {
    font-size: 1.6rem;
    margin: 1rem;
  }

  .message {
    padding: 1rem;
  }

  .comments {
    border-bottom: .1rem solid #eee;

    .comment {
      position: relative;
      padding: 1rem;
      border-top: .1rem solid #eee;

      .id {
        position: absolute;
        right: .5rem;
        top: .5rem;
        font-size: .9rem;
        background-color: #eee;
        border-radius: .3rem;
        padding: 0 .25rem;
        line-height: 1.2em;
        color: #ccc;
      }

      .comment-content {
        margin-right: 2.3rem;
      }
    }
  }
}