@import "compass/css3";
@import "./common.scss";

.comment-content {
  line-height: 1.2em;

  p {
    margin: 1.2rem 0;
  }

  img {
    max-width: 100% !important;
    max-height: 10em !important;
  }
}

@import "./partials/editor.scss";

@import "./partials/pager.scss";

@import "./partials/comments.scss";

.comment-area {
  margin-top: 1rem;
}

.comment-area-loading {
  padding: 1rem;
}