@import "compass/css3";
@import "./common.scss";

.comment-content {
  line-height: 1.2em;

  p {
    margin: 1.2rem 0;
  }

  img {
    max-width: 100% !important;
    max-height: 10em !important;
  }
}

@import "./partials/editor.scss";

@import "./partials/pager.scss";

.comment-area-loading {
  margin-top: 1rem;
  padding: 1rem;
}

#comments_wrapper {
  margin-top: 1rem;
  overflow: hidden;

  .editor {
    padding-top: 0;
    .textarea {
      min-height: 6em;
    }
    .btn {
      height: 2em;
      font-size: .9rem;
    }
  }

  .title {
    font-size: 1.6rem;
    margin: 1rem;
  }

  .message {
    padding: 1rem;
    border-top: .1rem solid #eee;
  }

  .comments {
    border-bottom: .1rem solid #eee;

    .comment {
      border-top: .1rem solid #eee;

      .info {
        padding: .2rem 1rem;
        border-bottom: .1rem solid #eee;
        .lable {
          font-size: .9rem;
          line-height: 1.3em;
          color: #aaa;
          margin-right: 1em;
        }
      }

      .comment-content {
        padding: 1rem;
        margin-right: 2.3rem;
        word-wrap: break-word;
      }
    }
  }
}